.pacman-eye {
    fill: black;
}
.pellet {
    fill: red;
}
.wall {
    stroke: black !important;
}
#game-screen {
    background-color: lightgrey;
}
.pacman {
    stroke: yellow;
    stroke-width: 10;
    fill: none;
    animation: chomp 0.15s linear infinite alternate;
}

@keyframes chomp {
    from {
        stroke-dasharray: 157,100;
        stroke-dashoffset: 0;
    }
    to {
        stroke-dasharray: 126,100;
        stroke-dashoffset: -15;
    }
}